:root {
    --dark-grey: #161616;
    --light-grey-1: #252525;
    --light-grey-2: #494949;
    --light-blue: #A3CEF1;

    --font-weight-bold: 550;
    --font-sans: "Hack Nerd Font";
    --font-line-height: 1.4em;
    --font-size: 13px;
}


body, code {
    font-family: var(--font-sans) !important;
    font-weight: var(--font-weight-bold) !important;
    font-size: var(--font-size) !important;
    line-height: var(--font-line-height) !important;
}

body {
    background-color: var(--light-grey-1) !important;
    padding: 3px 0;
}

pre.hljs {
    background-color: var(--dark-grey) !important;
    padding: 3px;
}

h1, h2, h3 {
    color: var(--light-blue) !important;
}

#rendered-md {
    max-width: none !important;
}