:root {
    --dark-grey: #161616;
    --light-grey-1: #252525;
    --light-grey-2: #494949;
    --light-grey-3: #898989;
    --light-blue: #A3CEF1;

    --font-weight-bold: 550;
    --font-sans: "Hack Nerd Font";
    --font-line-height: 1.4em;
    --font-size: 13px;
}


/* Applying fonts everywhere this way instead of using "*" because it changes icons with the later */
.list-item, .title, .list-item-container>a, .search-bar>div>input, .tag-bar>div, .updated-time-label, .button:empty, span.sc-AxjAm.dbBgCN {
    font-family: var(--font-sans) !important;
    font-weight: var(--font-weight-bold) !important;
    font-size: var(--font-size) !important;
    line-height: var(--font-line-height) !important;
}


/* ############################ */
/* Background behind everything */
#react-root>div>div {
    background-color: var(--dark-grey) !important;
}

/* Note title */
.title-input {
    font-size: 19px !important;
    font-family: var(--font-sans) !important;
    background-color: var(--dark-grey) !important;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* Color behind the editor button */
.editor-toolbar {
    background-color: var(--light-grey-1) !important;
}

/* Color behind the hovered editor button */
.editor-toolbar .button:not(.disabled):hover, .header .button:not(.disabled):hover {
    background-color: var(--light-grey-2) !important;
}

/* Background color of top right buttons */
.rli-editor>div>div>div>div>div>div {
    background-color: var(--dark-grey) !important;
}
/* ######################*/



/* ######################## */
/* ##### Left Sidebar ##### */

/* Whole left sidebar */
.sidebar {
    background-color: var(--dark-grey) !important;
}

/* Bar between left sidebar and middle note list */
.rli-sideBar>span>div {
    background-color: var(--light-grey-1) !important;
}

/* Left sidebar folders size */
.list-item-depth-0, .list-item-depth-1, .list-item-depth-2, .list-item-depth-3 {
    height: 24px !important;
}

/* ######################*/



/* ######################### */
/* ### Middle notes list ### */

/* Whole middle notes list */
.note-list {
    background-color: var(--dark-grey) !important;
}

/* Lines under notes in the middle notes list */
.list-item-container::before {
    width: 90% !important;
    left: 13px !important;
}

.list-item-container.selected {
    background-color: var(--light-grey-2) !important;
}

/* Hover and select color on sidebar & middle note list */
.note-list .list-item-container:hover, .folders .list-item-container:hover, .tags .list-item-container:hover {
    background-color: #303030 !important;
}

/* Color behind search input and new note/task */
.rli-noteList>div>div>div {
    background-color: var(--dark-grey) !important;
}

/* Search bar input background color */
.search-bar>div>input {
    background-color: var(--dark-grey) !important;
}

/* Search bar input focus */
.search-bar>div>input:focus {
    border: 1px solid #EDEDED !important;
    background-color: var(--dark-grey) !important;
}

/* Search icon in search bar */
.icon-search {
    color: #DDDDDD !important;
}

/* Middle note list buttons icon color */
.new-todo-button>span, .new-note-button>span, .sort-order-field-button>span, .sort-order-reverse-button>span {
    color: white !important;
}

/* Middle note list buttons background color */
.new-todo-button, .new-note-button, .sort-order-field-button, .sort-order-reverse-button {
    background-color: #636363 !important;
}

/* Middle note list hovered buttons background color */
.new-todo-button:hover, .new-note-button:hover, .sort-order-field-button:hover, .sort-order-reverse-button:hover {
    background-color: var(--light-grey-3) !important;
}

/* Border on the right of the search bar in the middle note list */
.rli-noteList>div>div>div {
    border-right: 1px solid var(--light-grey-1);
}

/* Border on the right of the middle note list */
.item-list {
    border-right: 1px solid var(--light-grey-1);
}

/* Avoid cutting words and letter in the middle note list */
.list-item-container>a {
    padding-right: 12px;
}

/* Avoid cutting words and letter in the middle note list */
.list-item-container>a>span {
    overflow: hidden;
    text-overflow:ellipsis;
}

/* ######################*/




/* ######################## */
/* ######## Editor ######## */

/* Editor background color */
.CodeMirror-scroll {
    background-color: var(--light-grey-1) !important;
    font-weight: var(--font-weight-bold) !important;
}

/* Remove useless margin in editor introduced by Joplin */
div.CodeMirror-sizer {
    max-width: none !important;
    padding-left: 2px !important;
}

/* Editor header color */
span.cm-header {
    color: var(--light-blue) !important;
}

/* Code block text color */
span.cm-comment.cm-jn-monospace {
    color: var(--light-grey-3) !important;
}

/* Code block background color */
.cm-jn-code-block.CodeMirror-linebackground {
    background-color: var(--light-grey-1) !important;
}

/* Variables (starting with - or *) */
pre.CodeMirror-line span[role="presentation"] span.cm-variable-2 {
    color: #E7ECEF !important;
}

/* ######################*/
